@font-face {
  font-family: "TT Fors";
  src: url(../assets/fonts/tt_fors/TTForsTrialBold.ttf);
}

@font-face {
  font-family: "TT Fors Medium";
  src: url(../assets/fonts/tt_fors/Medium.ttf);
}

@font-face {
  font-family: "TT Fors Extralight";
  src: url(../assets/fonts/tt_fors/TT\ Fors\ Trial\ ExtraLight.ttf);
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  font-size: 16px;
  --textcolor: #000000;
  /* --color-1: #ffc1a5; */
  --color-1: #fdd8c7;
  --color0: #ffc2a5;
  --color1: #f87538;
  --bg-color1: #f8753862;
  --color2: #d36135;
  --color3: #bf3b0b;
  --color4: #852a08;
}

a {
  text-decoration: none;
  color: #000000;
}

.nav-tabs .nav-item .nav-link {
  color: var(--color2);
}

.nav-tabs .nav-item .nav-link.active {
  color: #000000;
}

.tab-content .tab-pane {
  background-color: #fff;
  color: #000000;
  min-height: 200px;
  height: auto;
}

.clamp1 {
  font-size: clamp(0.625rem, 4vw - 0.75rem, 1.25rem);
}

.clamp2 {
  font-size: clamp(0.4rem, 4vw - 0.4rem, 0.75rem);
}

.clamp3 {
  font-size: clamp(0.625rem, 4vw - 0.75rem, 1rem);
}

.inactiveServiceCard {
  font-size: clamp(0.625rem, 4vw - 0.75rem, 1rem) !important;
}

.typeColor {
  color: var(--color2);
}

.priceColor {
  color: var(--color1);
}

.card:hover {
  background-color: rgba(251, 230, 221, 0.922);
  cursor: pointer;
}



.text-success {
  color: var(--color2) !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "TT Fors";
  color: var(--textcolor);
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

/* HEADER */

header nav {
  margin: 10px;
  border-radius: 15px;
}

.navBtn {
  border-radius: 15px;
  transition: 0.5s;
}

.navBtn:hover {
  background-color: rgba(169, 169, 169, 0.348);
}

.bg-color1 {
  backdrop-filter: blur(5px);
  background-color: var(--bg-color1);
}

.bg-color2 {
  background-color: var(--color2);
}

.bg-color3 {
  background-color: var(--color3);
}

.cont-cards {
  margin: 5%;
}

.btn-primary {
  background-color: var(--color1);
  color: rgb(255, 255, 255);
  transition: 0.6s;
  border: none;
}

.btn-primary:hover {
  background-color: var(--color3);
  color: #ffffff;
}

.btn-delete {
  background-color: var(--textcolor);
  color: rgb(255, 255, 255);
  transition: 0.6s;
  border: none;
}

.btn-delete:hover {
  background-color: gray;
  color: #ffffff;
}

.w-35 {
  width: 35%;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90px !important;
}

.h-10 {
  height: 10% !important;
}

.bottom-30{
  bottom: 30%;
}

.h-15 {
  height: 15%;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 65% !important;
}

.h-90 {
  padding: 10px;
  height: 90% !important;
}


.sizeFont{
  font-size: 20px;
}
#card-header{
  position: relative;
  bottom: -10%;
  left: 40%;
  font-size: 30px;
}

.start-101{
  top: -14.5%;
  left: 87%;
}
.start-99{
  top: 20%;
  left: 45%;
}

.contact-form .form-control {
  border-radius: 1rem;
}

.contact-form form {
  padding: 14%;
}

.contact-form form .row {
  margin-bottom: -7%;
}

.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: var(--color2);
}

.btn-outline-warning {
  color: var(--color1);
  border-color: var(--color1);
  --bs-btn-active-color: var(--color1);
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: var(--color1);
  --bs-btn-border-color: var(--color1);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--color1);
  --bs-btn-hover-border-color: var(--color1);
  cursor: pointer;
}

.btn-outline-warning2 {
  color: red;
  border-color: red;
  --bs-btn-active-color: red;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: red;
  --bs-btn-border-color: red;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: red;
  --bs-btn-hover-border-color: red;
}

.dropdown-item {
  --bs-dropdown-link-hover-bg: var(--color0);
  --bs-dropdown-link-active-bg: var(--color2);
  --bs-dropdown-link-active-color: black;
}

/* --------------------------------------HISTORY------------------------- */
/* --------------------------------------PAGINATION------------------------------- */
.pagination-outer {
  text-align: center;
}

.pagination {
  font-family: "Quicksand", sans-serif;
  display: inline-flex;
  position: relative;
}

.pagination li a.page-link {
  color: #fff;
  background-color: var(--color0);
  font-size: clamp(0.4rem, 4vw - 0.4rem, 0.75rem);
  font-weight: 600;
  line-height: 33px;
  height: 33px;
  width: 33px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease 0s;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link {
  color: #fff;
  background: var(--color1);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2), 4px 4px rgba(0, 0, 0, 0.1);
}

.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link {
  color: var(--color1);
  background-color: #fff;
  line-height: 27px;
  border: 2px solid var(--color0);
}

@media only screen and (max-width: 480px) {
  .pagination {
    font-size: 0;
    display: inline-block;
  }

  .pagination li {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 10px;
  }
}

#activeServiceMedium {
  display: none;
}

#ubicationsServiceMedium {
  display: none;
}

@media screen and (max-width:1400px) {
  .clamp1 {
    font-size: clamp(0.625rem, 4vw - 0.75rem, 1.25rem);
  }

  .clamp2 {
    font-size: clamp(0.4rem, 4vw - 0.4rem, 0.75rem);
  }

  .clamp3 {
    font-size: clamp(0.625rem, 4vw - 0.75rem, 1rem);
  }

  .clamp4 {
    font-size: clamp(0.5rem, 4vw - 0.5rem, 0.9rem);
  }

  #infoPreferences {
    font-size: clamp(0.4rem, 4vw - 0.4rem, 0.75rem);
  }

  .form-floating {
    margin-bottom: 0.25rem !important;
  }

  #historyContainer {
    width: 100% !important;
  }

  #activeServiceLarge {
    display: none;
  }

  #activeServiceMedium {
    display: block;
  }

  #ubicationsServiceLarge {
    display: none;
  }

  #ubicationsServiceMedium {
    display: block;
  }

  #mapaTrip {
    width: 75% !important;
    margin-left: .5rem !important;
    margin-right: 1rem !important;
  }

  .inactiveServiceCard {
    font-size: clamp(0.5rem, 4vw - 0.5rem, 0.9rem) !important;
  }

  #inactiveCard {
    width: 100% !important;
    margin-bottom: .25rem !important;
    padding: .15rem !important;
  }

  #inactiveCardInfo {
    gap: 0rem !important;
  }
}

.bi-plus-circle {
  color: var(--color2);
  font-size: clamp(1rem, 4vw - 1rem, 1.5rem);
}

.cardPayment {
  padding: 1rem;
  border: #00000044 solid 1px;
  border-radius: 15px;
}

.cardPayment:hover {
  background-color: #c4b6b18c;
  cursor: pointer;
}

.addPaymet:hover {
  cursor: pointer;
}

/* -------------------------------------------------CARD------------------------- */
.visa-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 80%;
  height: 50%;
  background-image: radial-gradient(circle 897px at 9% 80.3%,
      rgb(252, 85, 85) 0%,
      rgba(230, 234, 15, 0.9) 100.2%);
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  gap: 15px;
}

.logoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px;
}


.inputstyle::placeholder {
  color: #ffffff;
}

.inputstyle {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: clamp(0.4rem, 4vw - 0.4rem, 0.75rem);
  height: 25px;
  letter-spacing: 1.5px;
}

.number-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

#cardNumber {
  width: 100%;
  height: 25px;
}

.name-date-cvv-container {
  width: 100%;
  height: 25px;
  display: flex;
  gap: 10px;
}

.name-wrapper {
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.expiry-wrapper,
.cvv-wrapper {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.cvv-wrapper {
  width: 10%;
}

#expiry,
#cvv {
  width: 100%;
}

.input-label {
  font-size: clamp(0.1rem, 4vw - 0.2em, 0.5rem);
  letter-spacing: 1.5px;
  color: #e2e2e2;
  width: 100%;
}